@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #faf8ef;
  height: 100vh;

  color: #776e65;
  font-family: "Monserrat", sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
